version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash run.sh
    image: null-jobs-backend
    ports:
      - "8000:8000"
    volumes:
      - .:/workspace
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

  bootstrap:
    build:
        context: .
        dockerfile: Dockerfile
    image: null-jobs-backend
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/workspace
    command: bash run_seed_db.sh
    env_file:
      - .env

  db:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: null_jobs_backend_db
      MYSQL_USER: null_jobs_backend_user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  mysql_data:
